# **DATA CLEANIG** #

1. **Handle Missing Data**: Impute missing values or remove incomplete records.
2. **Normalize Units**: Ensure consistency in units across datasets (e.g., percentage of coverage, number of reported cases).
3. **Date Consistency**: Format date fields uniformly across tables for easier analysis.

## Import/Download essential libraries

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\workspace\anaconda\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\workspace\anaconda\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

## 1. Coverage Data Cleaning

### 1. Reading Data

In [3]:
coverage_DF = pd.read_excel("coverage-data.xlsx", engine = "openpyxl")

### 2. Data Information

In [4]:
coverage_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399859 entries, 0 to 399858
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          399859 non-null  object
 1   CODE                           399858 non-null  object
 2   NAME                           398584 non-null  object
 3   YEAR                           399858 non-null  float64
 4   ANTIGEN                        399858 non-null  object
 5   ANTIGEN_DESCRIPTION            399858 non-null  object
 6   COVERAGE_CATEGORY              399858 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  399858 non-null  object
 8   TARGET_NUMBER                  79030 non-null   float64
 9   DOSES                          79327 non-null   float64
 10  COVERAGE                       230477 non-null  float64
dtypes: float64(4), object(7)
memory usage: 33.6+ MB

### 3. Variable Description

#### Variables:

1. GROUP: Categorization of the data. Here, it represents countries.
2. CODE: Unique identifier for the country (ISO Alpha-3 code).
3. NAME: Name of the country.
4. YEAR : The year the data is recorded for.
5. ANTIGEN: Vaccine identifier or code.
6. ANTIGEN_DESCRIPTION: Full description of the vaccine.
7. COVERAGE_CATEGORY: Type of coverage reported, such as administrative or official.
8. COVERAGE_CATEGORY_DESCRIPTION: Expanded details of the coverage category.
9. TARGET_NUMBER: Number of individuals targeted for vaccination.
10. DOSES : Number of doses administered.
11. COVERAGE: Percentage of the target population that was vaccinated.

### 4. First look at data

In [5]:
coverage_DF.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

### 5. Counting null/missing values

In [6]:
coverage_DF.isna().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

A large section of the **"TARGET_NUMBER"**, **"DOSES"** and **"COVERAGE"** column of **"Coverage_DF"** data is **null**

### 6. Counting values

In [7]:
for col in coverage_DF.columns:
    print(f"Columns name: {col}")
    print(coverage_DF[col].value_counts())
    print("\n")

Columns name: GROUP
GROUP
COUNTRIES                        381041
UNICEF_REGIONS                     4660
WB_LONG                            3767
WHO_REGIONS                        3757
WB_SHORT                           2564
DEVELOPMENT_STATUS                 2230
GAVI_PHASE5                        1194
GLOBAL                              645
Created: 2025-02-01 16:00 UTC         1
Name: count, dtype: int64


Columns name: CODE
CODE
ETH    2031
SYR    2031
COD    2023
TZA    2022
CAF    2020
       ...
ABW     468
ASM     435
XKX     333
CUW     217
SXM     137
Name: count, Length: 245, dtype: int64


Columns name: NAME
NAME
Ethiopia                                                                  2031
Syrian Arab Republic                                                      2031
Democratic Republic of the Congo                                          2023
United Republic of Tanzania                                               2022
Central African Republic                                                  2020
                                                                          ...
Aruba                                                                      468
American Samoa                                                             435
Kosovo (in accordance with UN Security Council resolution 1244 (1999))     333
Curaçao                                                                    217
Sint Maarten (Dutch part)                                                  137
Name: count, Length: 242, dtype: int64


Columns name: YEAR
YEAR
2023.0    22983
2022.0    22883
2021.0    22303
2018.0    21987
2019.0    21042
2020.0    20732
2017.0    14586
2016.0    13872
2015.0    13019
2014.0    12572
2012.0    12408
2013.0    12189
2011.0    11934
2010.0    11923
2009.0    10017
2008.0     9986
2007.0     8266
2006.0     8027
2004.0     7648
2005.0     7546
2000.0     7501
2003.0     7184
2001.0     7161
2002.0     6920
1999.0     5782
1997.0     5049
1995.0     4915
1996.0     4894
1998.0     4891
1993.0     4769
1994.0     4751
1992.0     4730
1991.0     4486
1990.0     4419
1989.0     4098
1988.0     4073
1987.0     3987
1986.0     3893
1985.0     3781
1984.0     3495
1983.0     3465
1981.0     3452
1982.0     3216
1980.0     3023
Name: count, dtype: int64


Columns name: ANTIGEN
ANTIGEN
DTPCV3      26015
POL3        26005
MCV1        25939
BCG         24289
HEPB3       22249
            ...
JAPENC_1      229
JAPENC_C      211
MALARIA4      158
MALARIA1      158
MALARIA3      158
Name: count, Length: 69, dtype: int64


Columns name: ANTIGEN_DESCRIPTION
ANTIGEN_DESCRIPTION
DTP-containing vaccine, 3rd dose            26015
Polio, 3rd dose                             26005
Measles-containing vaccine, 1st dose        25939
BCG                                         24289
HepB, 3rd dose                              22249
                                            ...
Japanese encephalitis vaccine, 1st dose       229
Japanese encephalitis vaccine, last dose      211
Malaria vaccine, 4th dose                     158
Malaria vaccine, 1st dose                     158
Malaria vaccine, 3rd dose                     158
Name: count, Length: 69, dtype: int64


Columns name: COVERAGE_CATEGORY
COVERAGE_CATEGORY
ADMIN       155576
OFFICIAL    118050
WUENIC       95560
HPV          25304
PAB           5368
Name: count, dtype: int64


Columns name: COVERAGE_CATEGORY_DESCRIPTION
COVERAGE_CATEGORY_DESCRIPTION
Administrative coverage                                   155576
Official coverage                                         118050
WHO/UNICEF Estimates of National Immunization Coverage     95560
HPV Estimates                                              25304
PAB Estimates                                               5368
Name: count, dtype: int64


Columns name: TARGET_NUMBER
TARGET_NUMBER
0.0         1650
28.0          54
4200.0        54
30.0          52
120972.0      50
            ...
505905.0       1
211384.0       1
502323.0       1
56300.0        1
37654.0        1
Name: count, Length: 24395, dtype: int64


Columns name: DOSES
DOSES
0.0          4090
25.0           63
28.0           61
30.0           50
16.0           41
             ...
2273390.0       1
1209026.0       1
276306.0        1
1296611.0       1
40245.0         1
Name: count, Length: 53792, dtype: int64


Columns name: COVERAGE
COVERAGE
99.00     13306
98.00      8737
96.00      7473
97.00      7438
95.00      7409
          ...
50.72         1
104.58        1
153.02        1
37.67         1
143.28        1
Name: count, Length: 7602, dtype: int64

### 7. Handling missing values

Since the values missing are large in *"TARGET_NUMBER"*, *"DOSES"* and *"COVERAGE"*. We can do following practises for handling  **missing values**:
1. We drop the columns but the columns hold importance.
2. Another choice is to drop row of columns if any row for a index is null but doing so will reduce the data size rediculously, so this too has a disadvantage.
3. We calculate the mean of the *"TARGET_NUMBER"*, *"DOSES"* and *"COVERAGE"* since they are float datatype.
4. Use a model to train it on non-null values and predict the null values.

**STEP CHOOSEN:** 
We'll go for 1'st option since 80% of values are missing in "TARGET_NUMBER" & "DOSES". For "COVERAGE" we'll use a model to predict the null values, bacause it has missing value percantage of approximately 40%.

#### Dropping whole row for columns with missing value percentage of columns <=5%

In [8]:
cols_to_clean = ["CODE","NAME","YEAR","ANTIGEN","ANTIGEN_DESCRIPTION","COVERAGE_CATEGORY","COVERAGE_CATEGORY_DESCRIPTION"]
coverage_DF = coverage_DF.dropna(subset=cols_to_clean).reset_index(drop=True)

In [9]:
coverage_DF.isna().sum()

GROUP                                 0
CODE                                  0
NAME                                  0
YEAR                                  0
ANTIGEN                               0
ANTIGEN_DESCRIPTION                   0
COVERAGE_CATEGORY                     0
COVERAGE_CATEGORY_DESCRIPTION         0
TARGET_NUMBER                    320828
DOSES                            320489
COVERAGE                         169339
dtype: int64

#### Droping columns with missing value percentage of columns >= 75%

In [10]:
##### droping columns
# 1. "TARGET_NUMBER"
# 2.  "DOSES"
coverage_DF = coverage_DF.drop(["TARGET_NUMBER", "DOSES"], axis = 1)

In [11]:
coverage_DF.columns

Index(['GROUP', 'CODE', 'NAME', 'YEAR', 'ANTIGEN', 'ANTIGEN_DESCRIPTION',
       'COVERAGE_CATEGORY', 'COVERAGE_CATEGORY_DESCRIPTION', 'COVERAGE'],
      dtype='object')

#### Null Value Prediction Model for 5% >= missing value percentage of columns <= 45%

In [12]:
# drop irrelevant/misfit columns
prediction_df = coverage_DF.drop(["NAME","ANTIGEN_DESCRIPTION","COVERAGE_CATEGORY_DESCRIPTION","CODE"],axis =1)

# Split rows with/without COVERAGE
train_df = prediction_df[prediction_df["COVERAGE"].notna()].reset_index(drop = True)
test_df = prediction_df[prediction_df["COVERAGE"].isna() ].reset_index(drop = True)

# Features (X) and target (y)
x_train = train_df.drop(["COVERAGE"], axis =1)
y_train = train_df["COVERAGE"]

x_test = test_df.drop(["COVERAGE"], axis = 1)
print(x_test)
""" 
ENCODING CATEGORICAL COLUMNS
1. GROUP            
2. ANTIGEN   
3. COVERAGE_CATEGORY
"""
for col in ["GROUP", "ANTIGEN","COVERAGE_CATEGORY"]:
    le = LabelEncoder()
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.transform(x_test[col])
    
    
#  Model Initialization
rf = RandomForestRegressor (
    n_estimators = 100,
    max_depth = 10,
    random_state = 42,
    n_jobs = -1
)

# Model training 
rf.fit(x_train, y_train)

# predict 
predicted_coverage = rf.predict(x_test)

# filling null values
coverage_DF.loc[coverage_DF["COVERAGE"].isna(), "COVERAGE"] = predicted_coverage

              GROUP    YEAR     ANTIGEN COVERAGE_CATEGORY
0         COUNTRIES  2023.0         BCG             ADMIN
1         COUNTRIES  2023.0         BCG          OFFICIAL
2         COUNTRIES  2023.0     FLU_ALL             ADMIN
3         COUNTRIES  2023.0  FLU_CHILD1             ADMIN
4         COUNTRIES  2023.0  FLU_CHILD2             ADMIN
...             ...     ...         ...               ...
169334  WHO_REGIONS  1984.0         PAB               PAB
169335  WHO_REGIONS  1983.0         PAB               PAB
169336  WHO_REGIONS  1982.0         PAB               PAB
169337  WHO_REGIONS  1981.0         PAB               PAB
169338  WHO_REGIONS  1980.0         PAB               PAB

[169339 rows x 4 columns]

### 8. Normalization of Units

In [13]:
coverage_DF.describe()

                YEAR       COVERAGE
count  398584.000000  398584.000000
mean     2009.214299      78.954236
std        11.719153     151.489051
min      1980.000000       0.000000
25%      2002.000000      64.643838
50%      2012.000000      83.455980
75%      2019.000000      91.600000
max      2023.000000   32000.000000

Unlike *YEAR*, *COVERAGE* seems to be inconsistent. Since it's recording percentage values, the values should be max 100 but it's surprisingly 32000.000000, which is far exceeding it. Hence we have to normalise the *COVERAGE*.

In [14]:
# Step 1: Separate normal and abnormal values
normal = coverage_DF[coverage_DF['COVERAGE'] <= 100]
abnormal = coverage_DF[coverage_DF['COVERAGE'] > 100]

print("Normal rows:", normal.shape[0])
print("Abnormal rows:", abnormal.shape[0])

Normal rows: 392580
Abnormal rows: 6004

In [15]:
abnormal['COVERAGE'].describe()

count     6004.000000
mean       336.402205
std       1193.044016
min        100.010000
25%        102.000000
50%        106.000000
75%        117.582500
max      32000.000000
Name: COVERAGE, dtype: float64

In [16]:
def normalize_coverage(val):
    if val <= 100:
        return val  # already valid %
    elif val <= 1000:   # likely meant to be %
        return val / 10
    elif val <= 10000:  
        return val / 100
    elif val <= 100000:
        return val / 1000
    else:
        return None  # or np.nan if too extreme to trust

coverage_DF['COVERAGE'] = coverage_DF['COVERAGE'].apply(normalize_coverage)

In [65]:
coverage_DF['COVERAGE'] = coverage_DF['COVERAGE'].round(2)

In [17]:
coverage_DF.describe()

                YEAR       COVERAGE
count  398584.000000  398584.000000
mean     2009.214299      74.084575
std        11.719153      23.591788
min      1980.000000       0.000000
25%      2002.000000      63.000000
50%      2012.000000      83.286626
75%      2019.000000      91.000000
max      2023.000000     100.000000

## 2. Incidence-Rate Cleaning

### 1. Reading Data

In [18]:
incidence_rate_DF = pd.read_excel("incidence-rate-data.xlsx", engine = "openpyxl")

### 2. Data Information

In [19]:
incidence_rate_DF .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84946 entries, 0 to 84945
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84946 non-null  object
 1   CODE                 84945 non-null  object
 2   NAME                 84945 non-null  object
 3   YEAR                 84945 non-null  float64
 4   DISEASE              84945 non-null  object
 5   DISEASE_DESCRIPTION  84945 non-null  object
 6   DENOMINATOR          84945 non-null  object
 7   INCIDENCE_RATE       61584 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.2+ MB

### 3. Variable Description

1. Group : Classification of the data; here, it represents countries.
2. Code: Unique identifier for the country (ISO Alpha-3 code).
3. Name: Name of the country.
4. Year: The year the data is recorded for.
5. Disease: Code or short name of the disease.
6. Disease description: Full description of the disease.
7. Denominator: The population basis used to calculate the incidence rate (e.g., per live births, per total population).
8. Incidence rate: Number of disease cases per specified population unit.

### 4. First look at data

In [20]:
incidence_rate_DF.head(10)

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
5,COUNTRIES,ABW,Aruba,2023.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.0
6,COUNTRIES,ABW,Aruba,2023.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",9.3
7,COUNTRIES,ABW,Aruba,2023.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.0
8,COUNTRIES,ABW,Aruba,2023.0,RUBELLA,Rubella,"per 1,000,000 total population",NaN
9,COUNTRIES,ABW,Aruba,2023.0,TTETANUS,Total tetanus,"per 1,000,000 total population",0.0

### 5. Counting null/missing values

In [21]:
incidence_rate_DF.isna().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
DENOMINATOR                1
INCIDENCE_RATE         23362
dtype: int64

### 6. Counting values

In [22]:
for col in incidence_rate_DF.columns:
    print(f"Columns name: {col}")
    print(incidence_rate_DF[col].value_counts())
    print("\n")

Columns name: GROUP
GROUP
COUNTRIES                        82054
WHO_REGIONS                       2467
GLOBAL                             424
Created: 2025-02-01 16:03 UTC        1
Name: count, dtype: int64


Columns name: CODE
CODE
GLOBAL    424
SEAR      415
EUR       414
THA       414
AFR       411
         ...
PSE       142
ABW        67
XKX        46
CUW        30
SXM        21
Name: count, Length: 221, dtype: int64


Columns name: NAME
NAME
Global                                                                    424
South-East Asia Region                                                    415
European Region                                                           414
Thailand                                                                  414
African Region                                                            411
                                                                         ...
occupied Palestinian territory, including east Jerusalem                  142
Aruba                                                                      67
Kosovo (in accordance with UN Security Council resolution 1244 (1999))     46
Curaçao                                                                    30
Sint Maarten (Dutch part)                                                  21
Name: count, Length: 221, dtype: int64


Columns name: YEAR
YEAR
2021.0    2697
2023.0    2666
2022.0    2666
2020.0    2598
2018.0    2595
2019.0    2487
2017.0    2347
2012.0    2260
2007.0    2251
2015.0    2227
2011.0    2214
2010.0    2211
2016.0    2198
2013.0    2192
2009.0    2191
2008.0    2183
2014.0    2182
2006.0    2138
2003.0    2095
2004.0    2093
2000.0    2078
1999.0    2058
2001.0    2046
2005.0    2041
2002.0    1987
1997.0    1523
1996.0    1491
1998.0    1486
1995.0    1484
1994.0    1484
1993.0    1484
1992.0    1484
1991.0    1484
1990.0    1484
1989.0    1484
1988.0    1484
1987.0    1484
1986.0    1484
1985.0    1484
1984.0    1484
1983.0    1484
1982.0    1484
1981.0    1484
1980.0    1484
Name: count, dtype: int64


Columns name: DISEASE
DISEASE
MEASLES            9196
NTETANUS           9182
DIPHTHERIA         9181
PERTUSSIS          9181
POLIO              9130
TTETANUS           9127
YFEVER             9122
RUBELLA            5205
CRS                5153
MUMPS              5124
JAPENC             3224
TYPHOID            1280
INVASIVE_MENING     840
Name: count, dtype: int64


Columns name: DISEASE_DESCRIPTION
DISEASE_DESCRIPTION
Measles                           9196
Neonatal tetanus                  9182
Diphtheria                        9181
Pertussis                         9181
Poliomyelitis                     9130
Total tetanus                     9127
Yellow fever                      9122
Rubella                           5205
Congenital rubella syndrome       5153
Mumps                             5124
Japanese encephalitis             3224
Typhoid                           1280
Invasive meningococcal disease     840
Name: count, dtype: int64


Columns name: DENOMINATOR
DENOMINATOR
per 1,000,000 total population    61480
per 1,000,000 <15 population       9130
per 1,000 live births              8874
per 10,000 live births             5153
per 1000 live births                308
Name: count, dtype: int64


Columns name: INCIDENCE_RATE
INCIDENCE_RATE
0.0       32642
0.1        2178
0.2        1398
0.3         962
0.4         770
          ...
633.7         1
4476.6        1
2581.4        1
2566.0        1
218.3         1
Name: count, Length: 4977, dtype: int64

Columns name: GROUP
GROUP
COUNTRIES                        82054
WHO_REGIONS                       2467
GLOBAL                             424
Created: 2025-02-01 16:03 UTC        1
Name: count, dtype: int64

The above column has 4 unique values, but the last one looks like metadata accidentally stored as data. It's better we drop that.

In [23]:
# Drop row
incidence_rate_DF = incidence_rate_DF[incidence_rate_DF["GROUP"] != "Created: 2025-02-01 16:03 UTC"].copy()

### 7. Handling missing values

Since the values missing are large in *"INCIDENCE_RATE"*. We can do following practises for handling  **missing values**:
1. We drop the columns but the columns hold importance.
2. Another choice is to drop row of columns if any row for a index is null but doing so will reduce the data size rediculously, so this too has a disadvantage.
3. We calculate the mean of the *"INCIDENCE_RATE"* since it's float datatype.
4. Use a model to train it on non-null values and predict the null values.

**STEP CHOOSEN:** 
1. For *"CODE"*, *"NAME"*, *"YEAR"*, *"DISEASE"*, *"DISEASE_DESCRIPTION"*, *"DENOMINATOR"* we'll opt 2nd option, since the missing value percentage is < 1%
2. For *"INCIDENCE_RATE"* we'll go for 4'th option since approx 25% of values are missing.

#### Dropping whole row for columns with missing value percentage of columns <=5%

In [24]:
cols = ["CODE", "NAME", "YEAR", "DISEASE", "DISEASE_DESCRIPTION", "DENOMINATOR"]
incidence_rate_DF = incidence_rate_DF.dropna(subset = cols).reset_index(drop = True)
incidence_rate_DF.isna().sum()

GROUP                      0
CODE                       0
NAME                       0
YEAR                       0
DISEASE                    0
DISEASE_DESCRIPTION        0
DENOMINATOR                0
INCIDENCE_RATE         23361
dtype: int64

#### INCIDENT_RATE Null value Prediction Model

In [25]:
# data set for INCIDENT_RATE prediction
prediction_DF = incidence_rate_DF.drop(["NAME","DISEASE_DESCRIPTION","CODE"], axis = 1)

In [26]:
# one-Hot Encoding
cols = ["GROUP","DENOMINATOR","DISEASE"]

prediction_DF = pd.get_dummies(prediction_DF, columns = cols)

In [27]:
# splitting data into test and train
train_df = prediction_DF[prediction_DF["INCIDENCE_RATE"].notna()].reset_index(drop = True)
test_df = prediction_DF[prediction_DF["INCIDENCE_RATE"].isna()].reset_index(drop = True)

# Features (X) and target (y)
X_train = train_df.drop(["INCIDENCE_RATE"], axis = 1)
Y_train = train_df["INCIDENCE_RATE"]

X_test = test_df.drop(["INCIDENCE_RATE"], axis = 1)

In [28]:
# Model Initialization
model = RandomForestRegressor(
    n_estimators = 200,
    max_depth = 10,
    random_state = 42,
    n_jobs = -1
)

In [29]:
# train the model
model.fit(X_train, Y_train)

RandomForestRegressor(max_depth=10, n_estimators=200, n_jobs=-1,
                      random_state=42)

In [30]:
# predict 
predicted_IR = model.predict(X_test)

In [31]:
# fill-in the predicted values
incidence_rate_DF.loc[incidence_rate_DF["INCIDENCE_RATE"].isna(),"INCIDENCE_RATE"] = predicted_IR

In [32]:
incidence_rate_DF.isna().sum()

GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
DENOMINATOR            0
INCIDENCE_RATE         0
dtype: int64

In [33]:
incidence_rate_DF.describe()

               YEAR  INCIDENCE_RATE
count  84945.000000    84945.000000
mean    2004.095791       98.383033
std       12.595166      856.720594
min     1980.000000        0.000000
25%     1994.000000        0.000000
50%     2005.000000        0.315855
75%     2015.000000        6.065887
max     2023.000000    69101.300000

### 8. Normalization of Units

#### Column Information

In [34]:
for col in incidence_rate_DF.columns:
    print(f"Columns name: {col}")
    print(incidence_rate_DF[col].value_counts())
    print("\n")

Columns name: GROUP
GROUP
COUNTRIES      82054
WHO_REGIONS     2467
GLOBAL           424
Name: count, dtype: int64


Columns name: CODE
CODE
GLOBAL    424
SEAR      415
EUR       414
THA       414
AFR       411
         ...
PSE       142
ABW        67
XKX        46
CUW        30
SXM        21
Name: count, Length: 221, dtype: int64


Columns name: NAME
NAME
Global                                                                    424
South-East Asia Region                                                    415
European Region                                                           414
Thailand                                                                  414
African Region                                                            411
                                                                         ...
occupied Palestinian territory, including east Jerusalem                  142
Aruba                                                                      67
Kosovo (in accordance with UN Security Council resolution 1244 (1999))     46
Curaçao                                                                    30
Sint Maarten (Dutch part)                                                  21
Name: count, Length: 221, dtype: int64


Columns name: YEAR
YEAR
2021.0    2697
2023.0    2666
2022.0    2666
2020.0    2598
2018.0    2595
2019.0    2487
2017.0    2347
2012.0    2260
2007.0    2251
2015.0    2227
2011.0    2214
2010.0    2211
2016.0    2198
2013.0    2192
2009.0    2191
2008.0    2183
2014.0    2182
2006.0    2138
2003.0    2095
2004.0    2093
2000.0    2078
1999.0    2058
2001.0    2046
2005.0    2041
2002.0    1987
1997.0    1523
1996.0    1491
1998.0    1486
1995.0    1484
1994.0    1484
1993.0    1484
1992.0    1484
1991.0    1484
1990.0    1484
1989.0    1484
1988.0    1484
1987.0    1484
1986.0    1484
1985.0    1484
1984.0    1484
1983.0    1484
1982.0    1484
1981.0    1484
1980.0    1484
Name: count, dtype: int64


Columns name: DISEASE
DISEASE
MEASLES            9196
NTETANUS           9182
DIPHTHERIA         9181
PERTUSSIS          9181
POLIO              9130
TTETANUS           9127
YFEVER             9122
RUBELLA            5205
CRS                5153
MUMPS              5124
JAPENC             3224
TYPHOID            1280
INVASIVE_MENING     840
Name: count, dtype: int64


Columns name: DISEASE_DESCRIPTION
DISEASE_DESCRIPTION
Measles                           9196
Neonatal tetanus                  9182
Diphtheria                        9181
Pertussis                         9181
Poliomyelitis                     9130
Total tetanus                     9127
Yellow fever                      9122
Rubella                           5205
Congenital rubella syndrome       5153
Mumps                             5124
Japanese encephalitis             3224
Typhoid                           1280
Invasive meningococcal disease     840
Name: count, dtype: int64


Columns name: DENOMINATOR
DENOMINATOR
per 1,000,000 total population    61480
per 1,000,000 <15 population       9130
per 1,000 live births              8874
per 10,000 live births             5153
per 1000 live births                308
Name: count, dtype: int64


Columns name: INCIDENCE_RATE
INCIDENCE_RATE
0.000000       32642
0.315855        2794
0.100000        2178
0.306275        1502
0.200000        1398
               ...
759.300000         1
773.000000         1
1050.500000        1
971.200000         1
1662.100000        1
Name: count, Length: 5312, dtype: int64

**Unnormalized** data was noticed in **DENOMINATOR**:

per 1,000,000 total population    61480

per 1,000,000 <15 population       9130

per 1,000 live births              8874

per 10,000 live births             5153

per 1000 live births                308

To normalise the data at the cost of null introduction we engineer 3 feature:
1. per_1M_total_pop
2. per_1M_under15
3. per_1k_births

In [35]:
df = incidence_rate_DF.copy()

# Create empty columns
df["per_1M_total_pop"] = np.nan
df["per_1M_under15_pop"] = np.nan
df["per_1k_births"] = np.nan

# 1. per 1,000,000 total population
mask_total_pop = df["DENOMINATOR"].str.contains("per 1,000,000 total population", case=False, na=False)
df.loc[mask_total_pop, "per_1M_total_pop"] = df.loc[mask_total_pop, "INCIDENCE_RATE"]

# 2. per 1,000,000 <15 population
mask_under15 = df["DENOMINATOR"].str.contains("per 1,000,000 <15 population", case=False, na=False)
df.loc[mask_under15, "per_1M_under15_pop"] = df.loc[mask_under15, "INCIDENCE_RATE"]

# 3. per live births
mask_1k = df["DENOMINATOR"].str.contains("per 1,000 live births|per 1000 live births ", case=False, na=False)
mask_10k = df["DENOMINATOR"].str.contains("per 10,000 live births", case=False, na=False)

df.loc[mask_1k, "per_1k_births"] = df.loc[mask_1k, "INCIDENCE_RATE"]
df.loc[mask_10k, "per_1k_births"] = df.loc[mask_10k, "INCIDENCE_RATE"] * 10  # convert to per 1k

In [36]:
# keeping floting point to 2 decimal places
df["INCIDENCE_RATE"] = df["INCIDENCE_RATE"].round(2)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84945 entries, 0 to 84944
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84945 non-null  object
 1   CODE                 84945 non-null  object
 2   NAME                 84945 non-null  object
 3   YEAR                 84945 non-null  float64
 4   DISEASE              84945 non-null  object
 5   DISEASE_DESCRIPTION  84945 non-null  object
 6   DENOMINATOR          84945 non-null  object
 7   INCIDENCE_RATE       84945 non-null  float64
 8   per_1M_total_pop     61480 non-null  float64
 9   per_1M_under15_pop   9130 non-null   float64
 10  per_1k_births        14027 non-null  float64
dtypes: float64(5), object(6)
memory usage: 7.1+ MB

In [38]:
incidence_rate_DF = df.copy()

## 3. Reported Cases

### 1. Reading Data

In [39]:
reported_cases_DF = pd.read_excel("reported-cases-data.xlsx", engine = "openpyxl")

### 2. Data Information

In [40]:
reported_cases_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84870 entries, 0 to 84869
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84870 non-null  object
 1   CODE                 84869 non-null  object
 2   NAME                 84869 non-null  object
 3   YEAR                 84869 non-null  float64
 4   DISEASE              84869 non-null  object
 5   DISEASE_DESCRIPTION  84869 non-null  object
 6   CASES                65470 non-null  float64
dtypes: float64(2), object(5)
memory usage: 4.5+ MB

### 3. Variable Description

1. Group : Classification of the data; here, it represents countries.
2. Code: Unique identifier for the country (ISO Alpha-3 code).
3. Name: Name of the country.
4. Year: The year the data is recorded for.
5. Disease: Code or short name of the disease.
6. Disease description: Full description of the disease.
7. Cases: Number of reported cases of the disease for the specified year and region.

### 4. First look at data

In [41]:
reported_cases_DF.head(10)

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
5,COUNTRIES,ABW,Aruba,2023.0,NTETANUS,Neonatal tetanus,0.0
6,COUNTRIES,ABW,Aruba,2023.0,PERTUSSIS,Pertussis,1.0
7,COUNTRIES,ABW,Aruba,2023.0,POLIO,Poliomyelitis,0.0
8,COUNTRIES,ABW,Aruba,2023.0,RUBELLA,Rubella,NaN
9,COUNTRIES,ABW,Aruba,2023.0,TTETANUS,Total tetanus,0.0

### 5. Counting values

In [42]:
for col in reported_cases_DF.columns:
    print(reported_cases_DF[col].value_counts(), "\n")

GROUP
COUNTRIES                        82054
WHO_REGIONS                       2391
GLOBAL                             424
Created: 2025-02-01 16:02 UTC        1
Name: count, dtype: int64

CODE
GLOBAL    424
THA       414
AGO       411
BEN       411
AFR       411
         ...
PSE       142
ABW        67
XKX        46
CUW        30
SXM        21
Name: count, Length: 221, dtype: int64

NAME
Global                                                                    424
Thailand                                                                  414
Angola                                                                    411
Benin                                                                     411
African Region                                                            411
                                                                         ...
occupied Palestinian territory, including east Jerusalem                  142
Aruba                                                                      67
Kosovo (in accordance with UN Security Council resolution 1244 (1999))     46
Curaçao                                                                    30
Sint Maarten (Dutch part)                                                  21
Name: count, Length: 221, dtype: int64

YEAR
2021.0    2697
2022.0    2666
2023.0    2665
2020.0    2598
2018.0    2595
2019.0    2487
2017.0    2347
2012.0    2259
2007.0    2251
2015.0    2226
2011.0    2214
2010.0    2211
2016.0    2198
2013.0    2191
2009.0    2191
2008.0    2183
2014.0    2181
2006.0    2138
2003.0    2095
2004.0    2093
2000.0    2078
1999.0    2058
2001.0    2046
2005.0    2041
2002.0    1987
1997.0    1519
1996.0    1488
1998.0    1486
1995.0    1480
1994.0    1480
1993.0    1480
1992.0    1480
1991.0    1480
1990.0    1480
1989.0    1480
1988.0    1480
1987.0    1480
1986.0    1480
1985.0    1480
1984.0    1480
1983.0    1480
1982.0    1480
1981.0    1480
1980.0    1480
Name: count, dtype: int64

DISEASE
MEASLES            9196
NTETANUS           9182
DIPHTHERIA         9181
PERTUSSIS          9181
POLIO              9129
TTETANUS           9127
YFEVER             9051
RUBELLA            5205
CRS                5153
MUMPS              5124
JAPENC             3220
TYPHOID            1280
INVASIVE_MENING     840
Name: count, dtype: int64

DISEASE_DESCRIPTION
Measles                           9196
Neonatal tetanus                  9182
Diphtheria                        9181
Pertussis                         9181
Poliomyelitis                     9129
Total tetanus                     9127
Yellow fever                      9051
Rubella                           5205
Congenital rubella syndrome       5153
Mumps                             5124
Japanese encephalitis             3220
Typhoid                           1280
Invasive meningococcal disease     840
Name: count, dtype: int64

CASES
0.0        32389
1.0         2576
2.0         1564
3.0         1163
4.0          864
           ...
51000.0        1
34071.0        1
37785.0        1
8529.0         1
37407.0        1
Name: count, Length: 6634, dtype: int64

### 6. Counting null/missing values

In [43]:
reported_cases_DF.isna().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

### 7. Handling missing values

Since the values missing are large in *"CASES"*. We can do following practises for handling  **missing values**:
1. We drop the columns but the columns hold importance.
2. Another choice is to drop row of columns if any row for a index is null but doing so will reduce the data size rediculously, so this too has a disadvantage.
3. Use a model to train it on non-null values and predict the null values.

**STEP CHOOSEN:** 
1. For *"CODE"*, *"NAME"*, *"YEAR"*, *"DISEASE"*, *"DISEASE_DESCRIPTION"* we'll opt 2nd option, since the missing value percentage is < 1
2. For *"CASES"* we could have gone for prediction but the dataset doesn't have much features for that. So we will drop the null rows

#### Dropping the row(where row records a null value) for columns with missing value percentage of columns <=5%

In [44]:
cols = ["CODE", "NAME", "YEAR", "DISEASE", "DISEASE_DESCRIPTION","CASES"]
reported_cases_DF = reported_cases_DF.dropna(subset = cols).reset_index(drop = True)

In [45]:
reported_cases_DF.isna().sum()

GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
CASES                  0
dtype: int64

## 4. Vaccine Introduction Cleaning

### 1. Reading Data

In [46]:
vaccine_introduction_DF = pd.read_excel("vaccine-introduction-data.xlsx", engine = "openpyxl")

### 2. Data Information

In [47]:
vaccine_introduction_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138321 entries, 0 to 138320
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   138321 non-null  object
 1   COUNTRYNAME  138320 non-null  object
 2   WHO_REGION   138320 non-null  object
 3   YEAR         138320 non-null  float64
 4   DESCRIPTION  138320 non-null  object
 5   INTRO        138320 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

### 3. Variable Description

1. ISO_3_Code : Unique 3-letter ISO country code.
2. Country Name: Name of the country.
3. Who Region: World Health Organization (WHO) region to which the country belongs.
4. Year: The year the data is recorded for.
5. Description: Name of the vaccine or vaccine type.
6. Intro: Indicates whether the vaccine has been introduced into the country's vaccination program.

### 4. First look at data

In [48]:
vaccine_introduction_DF.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

### 5. Counting values

In [49]:
for col in vaccine_introduction_DF.columns:
    print(vaccine_introduction_DF[col].value_counts(), "\n")

ISO_3_CODE
AFG                              747
AGO                              747
ALB                              747
ARE                              747
ARG                              747
                                ...
AND                              493
TLS                              437
MNE                              365
SSD                              265
Created: 2025-02-01 07:09 UTC      1
Name: count, Length: 195, dtype: int64

COUNTRYNAME
Afghanistan             747
Angola                  747
Albania                 747
United Arab Emirates    747
Argentina               747
                       ...
North Macedonia         530
Andorra                 493
Timor-Leste             437
Montenegro              365
South Sudan             265
Name: count, Length: 194, dtype: int64

WHO_REGION
EURO     34523
AFRO     34211
AMRO     26145
WPRO     19847
EMRO     15687
SEARO     7907
Name: count, dtype: int64

YEAR
2023.0    4074
2022.0    4074
2021.0    4074
2020.0    4074
2019.0    4074
          ...
1944.0     164
1943.0     164
1942.0     164
1941.0     164
1940.0     164
Name: count, Length: 84, dtype: int64

DESCRIPTION
Seasonal Influenza vaccine                         14715
IPV (Inactivated polio vaccine)                    12255
Measles-containing vaccine 2nd dose                10943
YF (Yellow fever) vaccine                          10287
Mumps vaccine                                       9959
Rubella vaccine                                     9959
Hepatitis B vaccine                                 7827
Hib (Haemophilus influenzae type B) vaccine         7171
HepB birth dose                                     6674
PPV (Pneumococcal polysaccharide vaccine)           4828
Meningococcal meningitis vaccines (all strains)     4828
PCV (Pneumococcal conjugate vaccine)                4637
aP (acellular pertussis) vaccine                    4446
Japanese Encephalitis                               4446
Varicella vaccine                                   4446
IPV (Inactivated polio vaccine) 2nd dose            4445
Hepatitis A vaccine                                 4255
Typhoid                                             4255
HPV (Human Papilloma Virus) vaccine                 3487
Rotavirus vaccine                                   3487
Malaria vaccine                                      970
Name: count, dtype: int64

INTRO
No                97695
Yes               37844
Yes (R)            1708
Yes (P)             825
High risk area      118
Yes (A)              67
ND                   39
Yes (O)              22
Yes (D)               2
Name: count, dtype: int64

### 6. Counting null/missing values

In [50]:
vaccine_introduction_DF.isna().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

### 7. Handling missing values

We can do following practises for handling  **missing values**:
1. We drop the columns but the columns hold importance.
2. Another choice is to drop row of columns if any row for a index is null but doing so will reduce the data size rediculously, so this too has a disadvantage.
3. Use a model to train it on non-null values and predict the null values.

**STEP CHOOSEN:** 
1. For *"COUNTRYNAME"*, *"WHO_REGION"*, *"YEAR"*, *"DESCRIPTION"*, "*INTRO*" since the missing value percentage is <1

In [51]:
cols = ["COUNTRYNAME", "WHO_REGION", "YEAR", "DESCRIPTION", "INTRO" ]
vaccine_introduction_DF = vaccine_introduction_DF.dropna(subset = cols).reset_index(drop = True)

### 8. Normalization of Units

**"INTRO"** column distribution:

1. No                97695
2. Yes               37844
3. Yes (R)            1708
4. Yes (P)             825
5. High risk area      118
6. Yes (A)              67
7. ND                   39
8. Yes (O)              22
9. Yes (D)               2

TO normalise it we'll map 
Yes (R) ---> Yes

Yes (P) ---> Yes

Yes (O) ---> Yes

Yes (D) ---> Yes

Yes (A) ---> Yes

Yes (R) ---> Yes

In [52]:
vaccine_introduction_DF["INTRO_NORM"] = vaccine_introduction_DF["INTRO"].replace(
    {
        "Yes (P)" : "Yes",
        "Yes (O)" : "Yes",
        "Yes (D)" : "Yes",
        "Yes (R)" : "Yes",
        "Yes (A)" : "Yes"
    }   
)

## 5. Vaccine Schedule Cleaning

### 1. Reading Data

In [53]:
vaccine_schedule_DF = pd.read_excel("vaccine-schedule-data.xlsx", engine = "openpyxl")

### 2. Data Information

In [54]:
vaccine_schedule_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8053 entries, 0 to 8052
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISO_3_CODE             8053 non-null   object
 1   COUNTRYNAME            8052 non-null   object
 2   WHO_REGION             8052 non-null   object
 3   YEAR                   8052 non-null   float64
 4   VACCINECODE            8052 non-null   object
 5   VACCINE_DESCRIPTION    8052 non-null   object
 6   SCHEDULEROUNDS         8052 non-null   float64
 7   TARGETPOP              3795 non-null   object
 8   TARGETPOP_DESCRIPTION  8052 non-null   object
 9   GEOAREA                8022 non-null   object
 10  AGEADMINISTERED        7007 non-null   object
 11  SOURCECOMMENT          5139 non-null   object
dtypes: float64(2), object(10)
memory usage: 755.1+ KB

### 3. Variable Description

1. ISO_3_Code : Unique 3-letter ISO country code.
2. Country Name: Name of the country.
3. Who Region: World Health Organization (WHO) region to which the country belongs.
4. Year: The year the data is recorded for.
5. Vaccine code: Code for the vaccine.
6. Vaccine description: Name and details of the vaccine.
7. Schedule rounds: The dose or round of the vaccine in the schedule.
8. Target pop: Specific population targeted for the vaccine dose.
9. Target pop description: Detailed description of the target population.
10. Geoarea: Geographic area of administration.
11. Age administered: Age or time of vaccine administration.
12. Source comment: Additional information or context for administration.

### 4. First look at data

In [55]:
vaccine_schedule_DF.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

### 5. Counting values

In [56]:
for col in vaccine_schedule_DF.columns:
    print(vaccine_schedule_DF[col].value_counts(), "\n")

ISO_3_CODE
RUS                              126
USA                               93
GRC                               80
DEU                               78
BHR                               75
                                ...
GIN                               18
GAB                               16
TKL                               16
WLF                               12
Created: 2025-02-01 16:10 UTC      1
Name: count, Length: 214, dtype: int64

COUNTRYNAME
Russian Federation          126
United States of America     93
Greece                       80
Germany                      78
Bahrain                      75
                           ...
Vanuatu                      19
Guinea                       18
Gabon                        16
Tokelau                      16
Wallis and Futuna            12
Name: count, Length: 213, dtype: int64

WHO_REGION
EURO     2156
AMRO     2111
AFRO     1480
WPRO     1088
EMRO      861
SEARO     356
Name: count, dtype: int64

YEAR
2023.0    7873
2019.0      90
2022.0      67
2021.0      22
Name: count, dtype: int64

VACCINECODE
TD_S               967
OPV                517
PCV13              506
INFLUENZA_ADULT    500
DTWPHIBHEPB        408
                  ...
TYPHOIDHEPA          1
DIP                  1
DTWPHEPB             1
HPV                  1
EBOLA                1
Name: count, Length: 86, dtype: int64

VACCINE_DESCRIPTION
Td (Tetanus toxoid and diphtheria for older children and adults) vaccine    967
OPV (Oral polio vaccine)                                                    517
PCV-13 (Pneumococcal conjugate vaccine 13-valent) vaccine                   506
Adult seasonal influenza vaccine                                            500
DTwP-Hib-HepB (Whole cell) vaccine                                          408
                                                                           ...
Typhoid and Hepatitis A                                                       1
Diphtheria vaccine, children's dose                                           1
DTwP-HepB (Whole cell) vaccine                                                1
HPV (Human Papilloma Virus) vaccine                                           1
Ebola vaccine                                                                 1
Name: count, Length: 86, dtype: int64

SCHEDULEROUNDS
1.0    3849
2.0    1884
3.0    1139
4.0     582
5.0     419
6.0     176
7.0       3
Name: count, dtype: int64

TARGETPOP
RISKGROUPS    1247
ADULTS         658
PW             535
HW             330
TRAVELLERS     208
B_CHILD_W      164
FEMALE         152
B_ADO_W        130
B_2YL_W        125
BOTH           124
CATCHUP_C       84
CATCHUP_A       19
B_ADO_F         10
B_2YL_F          6
B_CHILD_F        3
Name: count, dtype: int64

TARGETPOP_DESCRIPTION
General/routine                          4695
Risk group(s)                            1247
Adults                                    658
Pregnant women                            535
Health workers                            330
Travellers                                208
HPV for females only                      152
HPV administered to females and males     124
Catch-up children                          84
Catch-up adults                            19
Name: count, dtype: int64

GEOAREA
NATIONAL       7788
SUBNATIONAL     234
Name: count, dtype: int64

AGEADMINISTERED
M2             434
M4             434
1st contact    362
M6             345
+M6            341
              ...
Y8               1
Y49              1
Y1-Y45           1
Y7-Y11           1
B-M24            1
Name: count, Length: 425, dtype: int64

SOURCECOMMENT
0-11 mois                                                                                                               185
Pregnant women                                                                                                          157
Health and care workers                                                                                                 124
Children with chronic conditions                                                                                         97
0-11 months                                                                                                              91
                                                                                                                       ...
outrbreak response                                                                                                        1
Girls aged 9-14 years old (in school and out of school) reached through an HPV Multi Age Cohort Vaccination Campaign      1
and older persons 65 years and above                                                                                      1
from May 2019                                                                                                             1
birth - 11 months                                                                                                         1
Name: count, Length: 1433, dtype: int64

### 6. Counting null/missing values

In [57]:
vaccine_schedule_DF.isna().sum()

ISO_3_CODE                  0
COUNTRYNAME                 1
WHO_REGION                  1
YEAR                        1
VACCINECODE                 1
VACCINE_DESCRIPTION         1
SCHEDULEROUNDS              1
TARGETPOP                4258
TARGETPOP_DESCRIPTION       1
GEOAREA                    31
AGEADMINISTERED          1046
SOURCECOMMENT            2914
dtype: int64

### 7. Handling missing values

We can do following practises for handling missing values:

1. We drop the columns but the columns hold importance.
2. Another choice is to drop row of columns if any row for a index is null but doing so will reduce the data size rediculously, so this too has a disadvantage.
3. Use a model to train it on non-null values and predict the null values.

STEP CHOOSEN:

1. For "COUNTRYNAME", "WHO_REGION", "VACCINECODE","YEAR", "VACCINE_DESCRIPTION" , "SCHEDULEROUNDS","TARGETPOP_DESCRIPTION", "GEOAREA", "AGEADMINISTERED" drop row of columns if any row for a index is null.
2. Since "SOURCECOMMENT" is a subjective opinion/comment well map empty string on null values.

#### Dropping rows

In [58]:
cols = ["COUNTRYNAME", "WHO_REGION", "VACCINECODE","YEAR", "VACCINE_DESCRIPTION" , "SCHEDULEROUNDS","TARGETPOP_DESCRIPTION", "GEOAREA","AGEADMINISTERED"]
vaccine_schedule_DF =  vaccine_schedule_DF.dropna(subset = cols).reset_index(drop = True)

#### Filling NA

In [59]:
vaccine_schedule_DF["SOURCECOMMENT"]= vaccine_schedule_DF["SOURCECOMMENT"].fillna("")

In [60]:
vaccine_schedule_DF.isna().sum()

ISO_3_CODE                  0
COUNTRYNAME                 0
WHO_REGION                  0
YEAR                        0
VACCINECODE                 0
VACCINE_DESCRIPTION         0
SCHEDULEROUNDS              0
TARGETPOP                4225
TARGETPOP_DESCRIPTION       0
GEOAREA                     0
AGEADMINISTERED             0
SOURCECOMMENT               0
dtype: int64

#### TARGETPOP

In [61]:
x = vaccine_schedule_DF[vaccine_schedule_DF["TARGETPOP"].isna()] 
print(x["TARGETPOP_DESCRIPTION"].unique())

['General/routine']

All the rows where TARGETPOP is null have TARGETPOP_DESCRIPTION = "General/routine". We thought of predicting the TARGETPOP's null values, but since the data set is small it may introduce bias, So to imputate the null we'll just map "General"

In [62]:
vaccine_schedule_DF["TARGETPOP"] = vaccine_schedule_DF["TARGETPOP"].fillna("General")

In [63]:
vaccine_schedule_DF.isna().sum()

ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     0
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           0
TARGETPOP                0
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
SOURCECOMMENT            0
dtype: int64

## Export Cleaned Data

In [64]:
# Suppose your cleaned dataframe is vaccine_schedule_DF
vaccine_schedule_DF.to_csv("vaccine_schedule_CLN.csv", index=False)
vaccine_introduction_DF.to_csv("vaccine_introduction_CLN.csv", index=False)
coverage_DF.to_csv("coverage_CLN.csv", index=False)
incidence_rate_DF.to_csv("incidence_rate_CLN.csv", index=False)
reported_cases_DF.to_csv("reported_cases_CLN.csv", index=False)